body {
	background-color: #fafafa;
}

nav {
	background-color: #fafafa;
	padding: 0px 0px 0px 0px;
	height: 77px;
}

.brand {
	font-family: 'Satisfy', cursive;
	font-size: 26px;
	vertical-align: middle;
}