body {
	background-color: #fafafa !important;
}

nav {
    width: 100%;
	background-color: white;
	padding: 0px 0px 0px 0px;
	height: 77px;
	border-bottom: 1px solid whitesmoke;
}

.brand {
	font-family: 'Satisfy', cursive;
	font-size: 26px;
	vertical-align: middle;
	color: white;
	text-align: center;
	font-weight: 550;

}
.nav_links {
	vertical-align: middle;
	font-size: 16px;
	font-weight: 5px;
	margin: 0px 20px;
}
.nav_wrapper{
    margin-top: 5px !important;
}

.brand {
  a {
  	color: black;
  	}
  	img{
  	    height: 30px;
  	    width: 30px;
  	}
}
.nav_links{
	a{
	  color: black;
	}
}

.photo{
	width:100%;
	max-height:100%;
}
.post_box{
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	margin-top: 60px;
	height: 600px 0px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 0px 0px 0px;
	button{
	background: #337ab7;
	color: white;
	border: 0px;
	
}
	
}
.post_header{
	height: 64px;
	padding: 14px 20px;
	font-weight: 600px;
}
.post_body{
	padding: 10px 24px 0px 20px;
}
.post_comments{
	padding: 10px 25px;
}

.timestamp {
	color:#a5a7aa;
	font-weight: 500px;
}
.post_like{
	.fa {
	 	font-size: 20px;
	}
}
.col-lg-offset-2{
	margin-top: 15px;
	
}
.show_post{
	margin-left: 350px;;
}
.update_post{
	margin-left: 200px;
	margin-right: 150px;
}
.edit_setting{
	margin-left: 350px;
	margin-right: 150px;
	border: 1px solid black;
}
